	/* ***** STYLE SHEET FOR NONIKA.CA ***** */
	
	html {
		text-align: justify;
		text-justify: inter-word;
	}
	
	/* ***** STYLE FOR BODY ***** */
	body {
		background-image: url('images/pixels/bg.png');
		margin: 40px auto;
		max-width: 750px;
		line-height: 1.6;
		font-size: 18px;
		color: #301000;
		padding: 0 10px;
		font-family: 'Roboto Serif', serif;
	}
	
	/* ***** STYLE FOR MAIN CONTENT ***** */
	main {
		background: #ffe8f0f0;
		border: 2px solid;
		border-color: #301000;
	}
	
	/* TODO: Why is this a:link instead of just a? */
	a {
		color: #ff0080;
		text-decoration: none;
	}
	
	/*a img {
		mask-image: none;
	}*/
	
	/* TODO: a:hover {} */
	
	/* TODO: logo filter to make logos pink, but colourful on hover */
	
	p {
		padding: 0px 20px 0px 20px;
	}
	
	table, th, td {
		margin: auto 10px auto 10px;
		border: 1px solid #301000;
		border-collapse: collapse;
		padding: 10px;
	}
	th {
		color: #301000;
		background-color: #ffcfe0;
	}
	
	header {
		text-align: center;
	}
	h1 {
		font-size: 64px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 32px;
	}
	h4 {
		font-size: 22px;
	}
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		font-weight: bold;
	}
	
	img {
		width: 50%;
		height: auto;
		display: block;
		margin: auto auto auto auto;
	}
	
	/* ***** BORDERS FOR IMAGES ***** */
	.image img {
		width: 100%;
		margin: 10px auto 10px auto;
		padding: 0px;
		border: 2px solid;
		border-color: #301000;
	}
	
	.btn, .btn-primary {
		margin: 5px auto 5px auto;
		font-size: 24px;
		color: #ffffff !important;
		background-color: #ff0080;
		border-color: #ff0080;
	}
	.btn:hover, .btn-primary:hover {
		color: #ffffff !important;
		background-color: #d4006d;
		border-color: #d4006d;
	}
	
	.standalone-logo {
		color: #ff0080;
	}
	
	.standalone-logo:hover {
		color: #d4006d;
	}
	
	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
	}
	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.centered-items {
		display: flex;
	}
	.navbar, .navbar-collapse, .centered-items {
		justify-content: center;
		align-items: center;
	}
	.navbar-toggler, navbar-toggler-icon, .navbar-nav, .navbar-collapse {
		margin: 0px;
		padding: 0px;
	}
	.nav-link {
		margin: 0 10px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		color: #ff0080;
	}
	.navbar-brand {
		margin: 0px;
		width: 55px;
		transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
	.navbar.fixed-top {
		background-color: #ffe8f0;
		border-bottom: 2px solid;
		border-color: #301000;
		box-shadow: 0 6px 15px #ffcfe0;
	}
	.section {
		margin: 0px;
		flex-grow: 1;
		opacity: 0;
		transition: opacity 0.5s;
		padding: 0px;
	}
	.fade-in {
		animation: fadeIn 1.2s ease-in-out forwards;
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(100px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.tiny-line {
		border-top: 1px solid #301000;
	}
	.small-line {
		border-top: 1px solid #301000;
	}
	.large-line {
		border-top: 2px solid #301000;
	}
	.tiny-line, .small-line, .large-line {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.skills-logos {
		padding: 10px;
		transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
	.skills-logos:hover {
		transform: scale(1.1);
	}
	ul {
		padding-right: 20px;
	}
	@media (min-width: 992px) {
		.container {
			width: auto;
		}
	}
	@media (max-width: 991px) {
		.container {
			width: 100%;
			max-width: 100%
		}
	}